@font-face {
	font-family: "Montserrat-Regular";
	src: url("../font/Montserrat-Regular.otf");
}
@font-face {
	font-family: "Montserrat-Light";
	src: url("../font/Montserrat-Light.otf");
}
@font-face {
	font-family: "Lato-Regular";
	src: url("../font/Lato-Regular.ttf");
}

html {
	font-size: 62.5%;
}
body { 
	margin: 0;
	padding: 0;
	font-size: 1.6rem;
	font-family: "Lato-Regular", Tahoma, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	font-weight: normal;
	margin: 0;
}

/* ************************************ HERO IMAGE ****************** */

header.hero-image {
	width: 100%;
	min-height: 350px;
	padding-top: 100px;
	background: #4981B9;
	text-align: center;
}
header div.hero-logo{
	position: relative;
	margin: 0 auto;
	display: block;
	width: 90px;
	height: 90px;
}

header div.hero-logo > svg{
	position: absolute;
	display: inline-block;
	width: 30px;
	height: 30px;
	fill: #FFFFFF;
}

header div.hero-logo > svg:nth-child(1){ top: 2px; left: 2px; }
header div.hero-logo > svg:nth-child(2){ top: -1px; left: 30px; }
header div.hero-logo > svg:nth-child(3){ top: 2px; left: 58px; }
header div.hero-logo > svg:nth-child(4){ top: 30px; left: -1px; }
header div.hero-logo > svg:nth-child(5){ top: 30px; left: 30px; }
header div.hero-logo > svg:nth-child(6){ top: 30px; left: 61px; }
header div.hero-logo > svg:nth-child(7){ top: 58px; left: 2px; }
header div.hero-logo > svg:nth-child(8){ top: 61px; left: 30px; }
header div.hero-logo > svg:nth-child(9){ top: 58px; left: 58px; }

svg.hero-logo-txt{
	display: inline;
	max-width: 220px;
	stroke: #fff;
	stroke-width: 9;
	margin-top: 25px;
	fill: none;
	stroke-dasharray: 140;
	stroke-dashoffset: 140;
	stroke-linejoin: bevel;
	animation: draw-logo-txt 2s .1s ease-in-out forwards;
}

svg.hero-logo-txt:nth-child(2){
	margin-left: -45px;
}

@keyframes draw-logo-txt{
	100%{
		stroke-dashoffset: 0;
	}
}

h1.hero-slogan {
	display: block;	
	letter-spacing: -0.06em;
	color: #4981B9;
	margin-top: 15px;
	padding-bottom: 0px;
	font-size: 2rem;
	font-family: "Montserrat-Light", sans-serif;
	animation: show-hero-slogan 1s 2s ease-out forwards;
}

@keyframes show-hero-slogan{
	80%{
		color: #4981B9;
		margin-top: 15px;
		padding-bottom: 0px;
	}
	100%{
		color: #FFFFFF;
		margin-top: 0px;
		padding-bottom: 15px;
	}
}

/* ************************************ MENU ****************** */

nav{
	float: left;
	width: 100%;
}
nav ul {
	float: left;
	width: 100%;
	margin: 0;
 	padding: 0;
 	list-style-type: none;
 	background: #4981B9;
}
nav ul li {
	float: left;
	width: calc(100% / 6 - 2px);
	margin: 0;
	margin-bottom: -1px;
	padding: 0;
	margin-right: 2px;
	text-transform: uppercase;
}

nav ul li a {
	display: inline-block;
	position: relative;
	width: 100%;
	background: #FFFFFF;
	padding: 16px 0;
	max-height: 24px;
	text-decoration: none;
 	color: #4981B9;
	text-align: center;
	font-size: 1.3rem;
	overflow: hidden;
	z-index: 0;
	transition: all .1s linear;
}

nav ul li:last-child{
	margin-right: 0px;
	width: calc(100% / 6);
}

nav ul li a:before {
	content: "";
	position: absolute;
	z-index: -1;
	width: 150%;
	height: 200%;
	top: -50%;
	left: -25%;
	right: 0;
	bottom: 0;
	border-radius: 50%;
	background: #4981B9;	
	transform: scaleY(0);
	transform-origin: 0 0;
	transition: all .3s ease-out;
}

nav ul li a:hover:before{
	transform: scaleY(1);
}

nav ul li a:hover {
	color: #FFFFFF;
}

nav ul li a i {
	padding-right: 20px;
}

@media screen and (max-width: 850px){
	nav ul li {
		float: left;
		width: calc(100% / 2 - 3px);
	}
	nav ul li:nth-child(2n){
		margin-right: 0px;
		width: calc(100% / 2);
	}
}

@media screen and (max-width: 500px) {
	nav ul li:nth-child(n){
		float: left;
		width: 100%;
	}
}

/* ************************************ ARTICLE ****************** */

div.reference {
	float: left;
	width: 100%;
}

div.reference:nth-child(odd) {
	background: #FFFFFF;
}

div.reference:nth-child(even) {
	background: #F8F8F8;
}

article {
	position: relative;
	margin: auto;
	padding: 100px 20px 80px 20px;
	max-width: calc(1000px - 40px);	
	overflow: hidden;
	color: #636363;
}

/* ************************************ INSIDE ARTICLE ****************** */

article h2 {
	width: 100%;
	font-family: "Montserrat-Regular", sans-serif;
	font-size: 4rem;
	color: #000000;
	margin-bottom: 50px;
}

article h2.right {
	margin-left: calc(100% - (100% - 300px));
	width: calc(100% - 300px);
}

article h2:after{
	content: "";
	display: block;
	height: 2px;
	max-width: 150px;
	margin: 20px 0;
	background: #4981B9;
}

aside.left {
	float: left;
	max-width: calc(100% - 300px);
	text-align: left;
}

aside.right {
	float: right;
	max-width: calc(100% - 300px);
	text-align: left;
}

aside.full {
	float: left;
	width: 100%;
}

aside > h3 {
	font-family: "Lato-Regular", sans-serif;
	font-size: 1.8rem;
	line-height: 2.8rem;
	margin-bottom: 40px;
}

article > p, aside > p {
	font-family: "Lato-Regular", sans-serif;
	line-height: 2.4rem;
	margin-bottom: 20px;
	font-size: 1.6rem;
}

figure > i.page-color {
	font-size: 12em;
	color: #4981B9;
}

article figure.left {
	max-width: 100%;
	padding: 30px 0;
	margin: 0;
	text-align: center;
	float: left;
}

article figure.right {
	max-width: 100%;
	padding: 30px 0;
	margin: 0;
	text-align: center;
	float: right;
}

@media screen and (max-width: 850px) {

	aside.left {
		float: left;
		max-width: 100%;
	}
	article figure.right {
		width: 100%;
		padding: 20px 0;
		text-align: center;
		float: left;
	}

	article h2.right {
		margin-left: 0;
		width: 100%;
	}

	aside.right {
		float: left;
		max-width: 100%;
	}

	article figure.left {
		width: 100%;
		padding: 20px 0;
		margin: 0;
		text-align: center;
		float: left;
	}

}

/* ************************************ SKILLS ARTICLE ****************** */

.skill-content {
	float: left;
	min-width: 100%;
	border-bottom: 5px solid #F8F8F8;
	padding-bottom: 40px;
	margin-bottom: 40px;
}

.skill-content:last-child {
	border: 0;
	padding: 0;
	margin: 0;
}

.skill-content > .describe-skill {
	font-size: 1.6rem;
	line-height: 2.4rem;
	margin-top: 50px;
	width: calc(100% - 300px);
}

.skill-content > .left {
	float: left;
	text-align: right;
}

.skill-content > .right {
	float: right;
	text-align: left;
}

.skill-content > .twice {
	margin-top: 60px;
	width: calc(100% - 550px);
}

/* ************************************ SKILL CIRCLE BAR ****************** */

.skill-bar {
	width: calc(240px - 4px - 40px);
	height: calc(240px - 4px - 40px);
	margin: 20px;
	background: #FFFFFF;
	border-radius: 50%;
}


.skill-bar > .name {
	position: relative;
	width: calc(240px - 4px - 40px - 6px);
	height: calc(240px - 4px - 40px - 6px);
	margin-top: 3px;
	margin-left: 3px;
	background: #FFFFFF;
	text-transform: uppercase;
	border-radius: 50%;
	text-align: center;
	font-size: 2.4rem;
	font-family: "Montserrat-Light", sans-serif;
	color: #4981B9;
	line-height: 190px;
	transition: 0.1s all linear;
}

.skill-bar > .percent {
	position: relative;
	top: -95%;
	left: 70%;
	width: 55px;
	height: calc(55px - 10px - 4px);
	padding-top: calc(10px + 4px);
	color: #636363;
	background: #FFFFFF; 
	text-align: center;
	font-size: 2rem;
	border-radius: 50%;
	border: 3px solid #4681B9;
}

@media screen and (max-width: 850px) {
	.skill-content > .describe-skill {
		margin-top: 10px;
		margin-bottom: 20px;
		text-align: left;
		width: 100%;
		float: left;
	}
	.skill-content > .right {
		float: right;
		text-align: left;
	}
	.skill-bar {
		width: calc(220px - 4px - 40px);
		height: calc(220px - 4px - 40px);
		margin: 20px calc(((100% / 2) - 176px) / 2);
	}
	.skill-bar > .name {
		width: calc(220px - 4px - 40px - 6px);
		height: calc(220px - 4px - 40px - 6px);
		line-height: 170px;		
	}
}

@media screen and (max-width: 500px) {
	.skill-bar {
		width: calc(200px - 4px - 40px);
		height: calc(200px - 4px - 40px);
		margin: 20px calc((100% - 156px) / 2);
	}
	.skill-bar > .name {
		width: calc(200px - 4px - 40px - 6px);
		height: calc(200px - 4px - 40px - 6px);
		line-height: 155px;		
	}
}

.progress-70 {
	background: linear-gradient(90deg, rgba(0,0,0,0) 50%, #4981B9 50%),
				linear-gradient(189deg, #F8F8F8 50%, #4981B9 50%);
}
.progress-75 {
	background: linear-gradient(90deg, rgba(0,0,0,0) 50%, #4981B9 50%),
				linear-gradient(202deg, #F8F8F8 50%, #4981B9 50%);
}
.progress-80 {
	background: linear-gradient(90deg, rgba(0,0,0,0) 50%, #4981B9 50%),
				linear-gradient(216deg, #F8F8F8 50%, #4981B9 50%);
}
.progress-85 {
	background: linear-gradient(90deg, rgba(0,0,0,0) 50%, #4981B9 50%),
				linear-gradient(229deg, #F8F8F8 50%, #4981B9 50%);
}
.progress-90 {
	background: linear-gradient(90deg, rgba(0,0,0,0) 50%, #4981B9 50%),
				linear-gradient(243deg, #F8F8F8 50%, #4981B9 50%);
}
.progress-95 {
	background: linear-gradient(90deg, rgba(0,0,0,0) 50%, #4981B9 50%),
				linear-gradient(256deg, #F8F8F8 50%, #4981B9 50%);
}

/* ************************************ GALLERY ARTICLE ****************** */

section.gallery_slider{
	float: left;
	width: 100%;
	text-align: center;
	margin-top: 20px;
}

section > img{
	max-width: calc(100% - 8px - 2px);
	height: 65vh;	
	background: #FFFFFF;
	border: 1px solid #ccc;
	padding: 4px;
	margin-top: 20px;
}

section > div.slider_button{
	position: relative;
	display: inline-block;
	padding: 15px 30px;
	margin: 0 5px;
	background: #fff;
	color: #999;
	font-size: 1.2rem;
	text-transform: uppercase;
	border: 1px solid #ccc;
	cursor: pointer;
}

div.slider_button > i{
	margin: 0 10px;
	font-size: 1rem;
}
/* ************************************ CONTACT ARTICLE ****************** */

section.contact-details {	
	float: left;
	font-size: 1.6rem;
}

section.contact-details > p {
	display: block;
	padding: 5px 0;
}

section.contact-details > p > i {
	font-size: 1.8rem;
	margin-right: 15px;
}
section.contact-details > p:first-child i {
	font-size: 2rem;
}
section.contact-details > p:last-child i {
	font-size: 2.2rem;
	padding: 0 3px;
}

/* ************************************ FORM SECTION ****************** */

article form {
	float: left;
	margin-top: 40px;
	min-width: 100%;
}

form > input[type='text'], form > input[type='email'] {
	display: inline;
	margin: 0;
	padding: 10px;
	min-width: calc((100% / 2) - 22px - 7px);
	min-height: 30px;
	font-family: "Lato-Regular", sans-serif;
	border: 1px solid #CCCCCC;
	background: #F8F8F8;
	color: #000;
	margin-top: 10px;
	transition: all 0.1s linear;
}

form > input[type='email'] {
	float: right;
}

form > textarea {
	display: inline;
	padding: 10px;
	min-width: calc(100% - 22px);
	min-height: 100px;
	border: 1px solid #CCCCCC;
	background: #F8F8F8;
	color: #000;
	margin-top: 14px;
	resize: vertical;
	font-family: "Lato-Regular", sans-serif;
	transition: all 0.1s linear;
}

form > input[type='submit'] {
	float: right;
	background: #000;
	color: #FFFFFF;
	border: 0px;
	text-transform: uppercase;
	padding: 15px 40px;
	margin: 20px 0;
	font-size: 1.3rem;
	font-family: "Lato-Regular", sans-serif;
	cursor: pointer;
	transition: all .1s linear;
}

form > input[type='submit']:hover {
	background: #4981B9;
}

@media screen and (max-width: 500px) {
	
	form > input[type='text'], form > input[type='email'] {
		display: block;
		margin: 0;
		padding: 10px;
		min-width: calc(100% - 22px);
		min-height: 30px;
		border: 1px solid #ccc;
		background: #F8F8F8;
		color: #000;
		margin-top: 10px;
	}

	form > input[type='email'] {
		margin-left: 0px;
	}

	form > input[type='submit'] {
		float: left;
		width: 100%;
		padding: 20px;
	}

}

form > input:hover, form > textarea:hover {
	background: #FFFFFF;
}
form > input:focus, form > textarea:focus {
	background: #FFFFFF;
}


/* ************************************ FOOTER ****************** */

footer {
	display: block;
	background: #F1F1F1;
	width: 100%;
	text-align: center;
	color: #999999;
}

footer > p:first-child {
	display: inline-block;
	font-family: "Montserrat-Regular", sans-serif;
	font-size: 2.5rem;
	margin-top: 20px;
}

footer > p.copyright {
	display: block;
	font-style: italic;
	font-family: "Montserrat-Light", sans-serif;
	font-size: 1.2rem;
	padding: 10px;
}

/* ******************************************************************* */